<!DOCTYPE html>
<html>
    <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
            <link rel="stylesheet" href="../public/stylesheets/homepage.css">
            <title> CW F28WP Web Programming</title>

            <h1 id="title-image"><img src="../public/Images/pagetitle.png"/></h1> 
            
    </head>
    <body>
        <div class='btn-group'>
                <button class="button" type="button1" id="b1" onclick="window.location.href='gamepage.html'" >Join Game</button>
                <button class="button" type="button2" id="b2" onclick="window.location.href='instructions.html'" >Instructions</button>
                <button class="button" type="button3" id="b3" onclick="alert('Email: help@shapeescape.co.uk')">Contact Us </button>
                <button class="button" type="button4" id="b4" onclick="prompt('What is your username'); " >Login</button>
        </div>
               
                <table id="score-board-table">
                        <tr id="row">
                                <th><h3>Username</h3></th>
                                <th><h3>Score</h3></th>
                        </tr>
                        <tr id="row">
                                <td><h5>CF51</h5></td>
                                <td><h5>18</h5></td>
                        </tr>
                        <tr id="row">
                                <td><h5>WRT1</h5></td>
                                <td><h5>14</h5></td>
                        </tr>
                        <tr id="row">
                                <td><h5>AGM6</h5></td>
                                <td><h5>13</h5></td>
                        </tr>
                        <tr id="row">
                                <td><h5>PTR3</h5></td>
                                <td><h5>18</h5></td>
                        </tr>
                </table>

                <!-- This file is the jQuery library, dowloaded from: https://jquery.com/download/. This is modified, just used for jQuery code. -->
                <script src="../public/javascripts/jquery-3.4.1.min.js"></script>

                <script type="text/javascript" src="../public/javascripts/homepage.js" language="JavaScript" ></script> 
        </body>
</html>