
doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  link(rel='stylesheet' href='stylesheets/homepage.css')
  title  CW F28WP Web Programming
  h1#title-image
    img(src='images/pagetitle.png')
.btn-group
  button#b1.button(type='button1' onclick="window.location.href='gamepage.html'") Join Game
  button#b2.button(type='button2' onclick="window.location.href='instructions.html'") Instructions
  button#b3.button(type='button3' onclick="alert('Email: cf51@hw.ac.uk')") Contact Us 
  button#b4.button(type='button4' onclick='logOut()') Log Out

table#score-board-table
  tr#row
    th
      h3 Username
    th
      h3 Score
  tr#row
    each player in locals.ld
      tr
        td
          h3 #{player.Username}
        td
          h3 #{player.Highscore}

form#loginArea(action='/login' method='POST')
  label#usrnameLabel(for='usrnameLabel') Username
  input#username(type='text' name='usrnameLabel')
  label#passwordLabel(for='password') Password
  input#password(type='text' name='password')
  button#loginBtn.button(type='button' onclick='save()') Login
  button#newBtn.button(type='button' onclick='newUser()') New user?


form#makeUser
  label#newNameLabel(for='newNameLabel') Username: 
  input#newName(type='text' name='newNameLabel')
  label#newPasswordLabel(for='newPasswordLabel') Password: 
  input#newPassword(type='text' name='newPasswordLabel')
  button#createBtn.button(type='button' onclick='createUser()') Create user



script(src='javascripts/jquery-3.4.1.min.js')
script(type='text/javascript' src='javascripts/homepage.js' language='JavaScript')
script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js')
script(src='javascripts/socket.js')
