<!DOCTYPE html>
<html>
    <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
            <link rel="stylesheet" href="../public/stylesheets/homepage.css">
            <title> CW F28WP Web Programming</title>

            <h1 id="title-image"><img src="../public/Images/pagetitle.png"/></h1> 
           
        
    </head>
    <body>
        <div class='btn-group'>
                <button class="button" type="button1" id="b1" onclick="window.location.href='gamepage.html'" >Join Game</button>
                <button class="button" type="button2" id="b2" onclick="window.location.href='instructions.html'" >Instructions</button>
                <button class="button" type="button3" id="b3" onclick="alert('Email: cf51@hw.ac.uk')">Contact Us </button>
                <button class="button" type="button4" id="b4" onclick="login();" >Login</button>
               
        </div>
               
                <table id="score-board-table">
                        <tr id="row0">
                                <td><img id="score-board-title" src="../public/Images/scoreboard.png"/></td>
                                <td></td>
                                <td></td>
                                <td></td>
                        </tr>
                        <tr id="row1">
                                <!-- <table align="center">-->
                                <th><h3>Username</h3></th>
                                <th><h3>Score</h3></th>
                                <th><h3>Games Played</h3></th>
                                <th></th>
                        </tr>

                        <tr id="row2">
                                <td><h3>CF51</h3></td>
                                <td><h3>1098</h3></td>
                                <td><h3>3</h3></td>
                        </tr>

                        <tr id="row3">
                                <td><h3>WRT1</h3></td>
                                <td><h3>598</h3></td>
                                <td><h3>1</h3></td>
                        </tr>

                        <tr id="row4">
                                <td><h3>AGM6</h3></td>
                                <td><h3>1588</h3></td>
                                <td><h3>7</h3></td>
                        </tr>

                        <tr id="row5">
                                <td><h3>PTR3</h3></td>
                                <td><h3>4589</h3></td>
                                <td><h3>9</h3></td>
                        </tr>
                </table>


        

                <!-- This file is the jQuery library, dowloaded from: https://jquery.com/download/. This is modified, just used for jQuery code. -->
                <script src="../public/javascripts/jquery-3.4.1.min.js"></script>

                <script type="text/javascript" src="../public/javascripts/homepage.js" language="JavaScript" ></script> 
        </body>
</html>