//The jade files in this project were converted from their html counterparts as the jade format allowed for an easier way to
//integrate the values from the database for the game. They are mostly identical to one another, apart from the syntax, with 
//a few minor changes.
doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  link(rel='stylesheet' href='stylesheets/homepage.css')
  title  CW F28WP Web Programming
  h1#title-image
    img(src='images/pagetitle.png')

// The button group to display all buttons
.btn-group
  button#b1.button(type='button1' onclick="window.location.href='gamepage'") Join Game
  button#b2.button(type='button2' onclick="window.location.href='instructions'") Instructions
  button#b3.button(type='button3' onclick="alert('Email: cf51@hw.ac.uk')") Contact Us 
  button#b4.button(type='button4' onclick='logOut()') Log Out

// The scoreboard area
table#score-board-table
  tr#row
    th
      h3 Username
    th
      h3 Score
  //Here the entries in the database with the highest scores were displayed in a table at the front of the page.
  tr#row
    each player in locals.ld
      tr
        td
          h3 #{player.Username}
        td
          h3 #{player.Highscore}

// The login area
form#loginArea(action='/login' method='POST')
  label#usrnameLabel(for='usrnameLabel') Username: 
  input#username(type='text' name='usrnameLabel')
  label#passwordLabel(for='password') Password: 
  input#password(type='password' name='password')
  input#tickBox(type='checkbox' onclick='showPassword()')
  | Show Password
  button#loginBtn.button(type='button' onclick='save()') Login
  button#newBtn.button(type='button' onclick='newUser()') New user?
// The make new user area
form#makeUser
  label#newNameLabel(for='newNameLabel') Username: 
  input#newName(type='text' name='newNameLabel')
  label#newPasswordLabel(for='newPasswordLabel') Password: 
  input#newPassword(type='password' name='newPasswordLabel')
  input#tickBoxNew(type='checkbox' onclick='showPassword()')
  | Show Password
  button#createBtn.button(type='button' onclick='createUser()') Create user





script(src='javascripts/jquery-3.4.1.min.js')
script(type='text/javascript' src='javascripts/homepage.js' language='JavaScript')
script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js')
script(src='javascripts/socket.js')
