doctype html

head
  img(src='images/pagetitle.png')
  link(rel='stylesheet' href='stylesheets/homepage.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js')

body
  p.solid
  button#b1.button(type="button1" onclick="window.location.href='gamepage'") Join Game
  button#b2.button(type='button2' onclick="window.location.href='instructions'") Instructions
  button#b3.button(type="button3" onclick="alert('Email: cf51@hw.ac.uk')") Contact Us 
  section#score-board
    .container
      h1.container-title(data-id="score-board-title")
        img(src="images/scoreboard.png")
      table#score-board-table
      table(align='center')
        tr
          th(align='center')
          th
            h3 Username
          th
            h3 Score
          th
        each player in locals.ld
          tr
            td(align='center')
              td
                h3 #{player.Username}
              td
                h3 #{player.Highscore}


  script(src='javascripts/socket.js')
