<!DOCTYPE html>
<html>
    <head>
            <h1 id="instr-img" ><img src="../public/Images/instrctions.png"/></h1>
            <link rel="stylesheet" href="../public/stylesheets/instructions.css"> 
            <title>CW F28WP Web Programming</title>  
    </head>

    <body>
        <div class="btn-group">
            <!-- Button to take you back to the homepage -->
                    <button class="button" id="homePageButton" onclick="window.location.href='index.html'" >Homepage</button>
        </div>
        
        <!-- The text to display information for the user. -->
        <div id="information">
            <p>When the start game counter hits 0, you have 60 seconds to collect as many coins as possible. </p>
            <p>Avoid the black holes. If you hit a black obstacles, your score will be set to 0, and you will be sent back to the start position.</p>
            <p>If you die more than 10 times, your game will end. </p>
            <p>Use the arrow keys on your keyboard to move around on the screen. </p>
        </div>
    </body>
</html>


