<!DOCTYPE html>
<html>
    <head>
            <img src="../public/Images/instrctions.png"/>
            <link rel="stylesheet" href="../public/stylesheets/instructions.css">   
    </head>

    <body>
        <!-- Button to take you back to the homepage -->
        <button class="button" id="homePageButton" onclick="window.location.href='index.html'" >Homepage</button>
        
        <div id="information">
            <p>When the counter hits 0, you have 1 minute to collect as many coins as possible. </p>
            <p>Avoid the black holes. If you hit a black hole, your score will be set to 0, and you will be sent back to the start position.</p>
            <p>Use the arrow keys on your keyboard to move around on the screen. </p>
        </div>
    </body>
</html>


