<!DOCTYPE html>
<html>
    <head>
            <h1 id="instr-img" ><img src="../public/Images/instrctions.png"/></h1>
            <link rel="stylesheet" href="../public/stylesheets/instructions.css"> 
            <title>CW F28WP Web Programming</title>  
    </head>

    <body>
        <div class="btn-group">
            <!-- Button to take you back to the homepage -->
                    <button class="button" id="homePageButton" onclick="window.location.href='index.html'" >Homepage</button>
        </div>

        <table id="information-table">
            <tr id="row0">
                    <th><h1>Instructions</h1></th>
                    <th><h1>Key</h1></th>
            </tr>

            <tr id="row1">
                    <td><h3>When the start game counter hits 0, you have 60 seconds to collect as many coins as possible.</h3></td>
                    <td><img id="row1img" src="../public/Images/game-start-in.png"/></td>
            </tr>

            <tr id="row2">
                    <td><h3>Avoid the black obstacles or you'll lose a life. Every time you die your score is set to 0. You have 10 lives</h3></td>
                    <td></td>
            </tr>

            <tr id="row3">
                    <td><h3>If you enter a teleport area, you will be teleported to another teleport area.</h3></td>
                    <td><img id="row2img" src="../public/Images/teleport.png"/></td>
            </tr>

            <tr id="row4">
                    <td><h3>Use the arrow keys on your keyboard to move around on the screen. </h3></td>
                    <td><h3>IMAGE</h3></td>
            </tr>




        </table>
        </body>
</html>