/* Missing Content */

body {
    background-color: rgb(166, 166, 169);
    font-family: sans-serif;
}

h1 {
    color: rgb(2, 2, 32);
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}


#redball {
    position: fixed;
    left: 500;
    top: 200;
    width: 4%;
    height: 4%;
}

#blueball {
    position: absolute;
    left: 400;
    top: 100;
    width: 4%;
    height: 4%;
}

.btn-group {
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
    float: center;
}


button:hover {
    background-color: rgb(127, 191, 99);
}


button:active {
    background-color: rgb(59, 174, 59);
}