
/* Main body */
body {
    background-color: black;
    font-family: sans-serif;
}

/* The area wherer the game will*/
#gameArea {
    border: 5px solid red;
    position: relative;
    top: 25%;
    width: 1200px;   /*80%*/ 
    height: 450px;  /*60vh*/ 
    /*text-align: center;
    font-weight: bold;*/
    margin: 0 auto;
    overflow: hidden;     /* Keep the game area as it is. */
}

/* The header */
h1 {
    color: rgb(2, 2, 32);
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

/* The table with username, score and time left */
table {
    top: 15%;
    font-weight: bold;
    color: red;
    text-align: center;
    width: 105%;
}


/*
#redball {
    position: absolute;
    left: 500px;
    top: 200px;
    width: 30px;
    height: 30px;
}
*/

/* Users ball */
#blueball {
    position: absolute;
    left: 28%;
    top: 33%;
    width: 2.5%;
    height: 6.25%;
}

/* The coins */
.coin {
    position: absolute;
    background-image: url("Images/coin.png");
    left: 2%;
    top: 2%;
    width: 1%;
    height: 2.5%;
    z-index: -2;
}
/* All the obstacles */
/* ob"number" is the square obstacles */
#ob1 {
    position: absolute;
    left: 4%;
    top: 42%;            
    width: 9%;
    height: 10%;
}

#ob2 {
    position: absolute;
    left: 60%;
    top: 70%;             
    width: 9%;
    height: 10%;
}

#ob3 {
    position: absolute;
    left: 85%;
    top: 40%;
    width: 9%;
    height: 10%; 
}

#ob4 {
    position: absolute;
    left: 89.5%;
    top: 10%;
    width: 4.5%;
    height: 30%;
}

#ob5 {
    position: absolute;
    left: 58%;
    top: 70%;
    width: 4.5%;
    height: 30%;
}

#ob6 {
    position: absolute;
    left: 75%;
    top: 70%;
    width: 9%;
    height: 10%; 
}

#ob7 {
    position: absolute;
    left: 68%;
    top: 10%;
    width: 9%;
    height: 10%; 
}

#ob8 {
    position: absolute;
    left: 58%;
    top: 0%;
    width: 4.5%;
    height: 30%;
}

#ob9 {
    position: absolute;
    left: 83%;
    top: 70%;
    width: 9%;
    height: 10%;
}

#ob10 {
    position: absolute;
    left: 75%;
    top: 10%;
    width: 9%;
    height: 10%;
}

/* circle obstacles */
#obcircle1 {
    position: absolute;
    left: 42%;
    top: 16%;
    width: 4.5%;
    height: 11%;
}

#obcircle2 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4.5%;
    height: 11%;
}

#obcircle3 {
    position: absolute;
    left: 7%;
    top: 10%;
    width: 4.5%;
    height: 11%;
}

/* The cross obstacles */
#obTr1 {
    position: absolute;
    left: 18%;
    top: 25%;
    width: 7%;
    height: 18%;
}

#obTr2 {
    position: absolute;
    left: 18%;
    top: 55%;
    width: 7%;
    height: 18%;
}

#obTr3 {
    position: absolute;
    left: 29%;
    top: 55%;
    width: 7%;
    height: 18%;
}

#obTr4 {
    position: absolute;
    left: 29%;
    top: 25%;
    width: 7%;
    height: 18%;
}

/* The group of buttons */
.btn-group {
    padding: 10px 10px;
    cursor: pointer;
    float: center;
}

/* Creating a border around all buttons in the group. */
.btn-group > * {
    border: 2px solid black;
    background-color: red;
}

/* changing the colour when hovering over buttons. */ 
button:hover {
    background-color: rgb(0, 21, 255);
}

/* changing the colour when clicking a button. */ 
button:active {
    background-color: rgb(0, 21, 255);
}


