body {
    margin: 100px;
    padding: 10px;
    background-color: black; 
    border-color: white; 
}
img{
  position: absolute;
  padding-left: 9%; 
  top:4%;
  width: 65%; 
  height: 15%; 
}

.button{

  background-color: rgb(231, 8, 8);
  position: relative;
  top: 35px; 
  padding-left: 15%;
  padding-right: 10%;
  font-weight: bold; 
  text-align: center;
 
 }

 .button:hover{
   background-color: blue; 
 }

 div {
   position: relative; 
   top:25px;
   background-color:black; 
   height: 50%; 
   width: 88.5%;
   /*border: 15px solid white; */
   padding: 50px;
   margin: 20px;
   color:white;  
   text-align: center; 
   font-weight: bold; 
   
 }
 
 .score-board-title{
    text-decoration-color: blue; 
    text-align: center; 
 }

 .score-board-table{
   text-align: center; 
 }

 .score-board-table > tr > th{
   text-align: left; 
 }

 
 .score-board-table > tr > td{
   text-decoration-color: red; 
 }

 section#score-board {
   background-color: red; 
   border: 1px solid white; 
   width: 92.7%; 
 }
