body {
    margin: 100px;
    padding: 10px;
    background-color: black; 
    border-color: white; 
}
head{
  padding-bottom: 200px;
}

/* Centering the 'Shape escape' and 'scoreboard' images */ 
img{
  position: absolute;
  padding-left: 9%; 
  top:4%;
  width: 65%; 
  height: 15%; 
}

/* 'Join Game' 'Contact us' 'Instructions' buttons */
.button{

  background-color: red; 
  color: black; 
  position: relative;
  top: 35px; 
  padding-left: 15%;
  padding-right: 10%;
  font-weight: bold; 
  text-align: center;
 
 }
 /* Making the button appear blue when they are hovered over*/
 .button:hover{
   background-color: blue; 
 }

 div {
   position: relative; 
   top:20px;
   background-color:black; 
   height: 50%; 
   width: 88.5%;
   /*border: 15px solid white; */
   padding: 50px;
   margin: 20px;
   color:white;  
   text-align: center; 
   font-weight: bold; 
   
 }

 #score-board {
   background-color:red;
   border: 1px solid white; 
   width: 93%; 
   align-content: center; 
   
 }

 .container-title{
 
 
   height: 2px; 
   width: 50px;
   padding-right: 185px; 
   
  
 }


 #score-board-table tr th:nth-child(-n+3) {

  border: 1px solid white; 
  padding-right:200px; 
 }

 /*

 #score-board-table tr td:nth-child(-n+3) {
   
  border: 1px solid white; 
 }

 */ 

