body {
    background-color: darkslategray;
}

#pacman {
    height: 470px;
    width: 382px;
    border-radius: 5px; 
    margin: 15px auto;
}

#shim {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    visibility: hidden;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: red;
}

body {
    width: auto;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: yellow;
}

