
/* Main body */
body {
    background-color: black;
    font-family: sans-serif;
}

/* Left area of the screen */
#left {
    float: left;
    width: 20%;
}

/* Center area of the screen */
#center {
    float: left;
    width: 60%;

}

/* Right area of the screen */
#right {
    float: left;
    width: 20%;
}

/* The header */
h1 {
    color: rgb(2, 2, 32);
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

/*  --- THE TABLE WITH INFO ---  */
/* The table with username, score and time left */
table {
    float: left;
    top: 30%;
    font-weight: bold;
    color: red;
    margin-left: 2%;
    margin-top: 12%;
}


/*  --- THE BUTTONS ---  */
/* The group of buttons */
.btn-group {
    padding: 1% 1%;
    cursor: pointer;
    text-align: center;
    float: center;
}

.timerID{
    color: royalblue;
    background-color: royalblue;
}

/* Creating a border around all buttons in the group. */
.btn-group > * {
    border: 2px solid black;
    background-color: red;
}

/* changing the colour when hovering over buttons. */ 
button:hover {
    background-color: rgb(0, 21, 255);
}

/* changing the colour when clicking a button. */ 
button:active {
    background-color: rgb(0, 21, 255);
}

#timerIDL{
    color:red;
    font-size: 50px;
}

#timerID {
    color:red;
    font-size: 50px;
}

#score {
    color:red;
    font-size: 50px;
}


/*  --- THE BALLS ---  */

/* Users ball */
#blueball {
    position: absolute;
    left: 93%;
    top: 2.5%;
    z-index: 1;
    width: 4%; 
    height: 4%; 
}

/*
#greenball {
    position: absolute;
    left: 93%;
    top: 2.5%;
    z-index: 1;           // UNNCOMMENT FOR GREENBALL
    width: 4%; 
    height: 4%;
}
*/

/* The game area */
#gameArea {
    border: 4px solid; 
    border-color: red;
    position: relative;
    width: 600px;   
    height: 600px;  
    margin: 0 auto;
    overflow: hidden;     /* Keep the game area as it is. */
    float: left;
    margin-left: 20%;
}

#endGame{
    display:none; 
    position: absolute;
    width: 600px;
    height: 300px; 
    left:26%; 
    top:30%; 
}

/*      
                                THE GAME AREA

    Below is the grid of the game area. The game area is split up in 10x10 rows/columns. 
    This is used for maintenance and debugging, and it makes it easier to locate free area, coins, and 
    balls to start. The game area has 100 "squares", 37 of them are taken by an obstacle, 13 is taken by
    coins, which leaves 50 "free" squares for the balls to move around. 

    ob_     = The obstacle.     The number is which obstacle it is. 
    coin_   = The coin.         The number is which coin it is.
    start   = The start point.  The point where the balls start. 

    Below the grid is all the code for the obstacles, the coins and the start area. 

                                            LEFT
         0%      10%       20%       30%       40%       50%       60%       70%       80%       90%    
TOP * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *
    |         |         |         |         |         |         |         |         |         |         |                 
0%  |  coin1  |         |         |  ob37   |         |         |         |  coin2  |  ob4    |  start  |                  
    |         |         |         |         |         |         |         |         |         |         |
    | - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - |
    |         |         |         |         |         |         |         |         |         |         |
10% |  ob32   |  ob13   |         |  ob8    |         |  ob11   |  ob21   |  ob7    |  ob10   |         |
    |         |         |         |         |         |         |         |         |         |         |
    | - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - |
    |         |         |         |         |         |         |         |         |         |         |
20% |  coin3  |  ob3    |         |  ob33   |         |         |         |         |  ob20   |         |
    |         |         |         |         |         |         |         |         |         |         |
    | - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - |
    |         |         |         |         |         |         |         |         |         |         |
30% |         |         |         |         |  ob14   |         |  ob17   |         |  ob19   |         |
    |         |         |         |         |         |         |         |         |         |         |
    | - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - |
    |         |         |         |         |         |         |         |         |         |         |
40% |  ob29   |  ob30   |  ob31   |         |         |  coin8  |         |         |  ob18   |         |
    |         |         |         |         |         |         |         |         |         |         |
    | - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - |
    |         |         |         |         |         |         |         |         |         |         |
50% |         |         |         |         |  ob15   |         |  ob16   |         |  ob12   |         |
    |         |         |         |         |         |         |         |         |         |         |
    | - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - |
    |         |         |         |         |         |         |         |         |         |         |
60% |         |  ob1    |  ob28   |         |         |         |         |         |         |  coin7  |
    |         |         |         |         |         |         |         |         |         |         |
    | - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - |
    |         |         |         |         |         |         |         |         |         |         |
70% |         |  ob9    |         |         |  ob35   |         |  ob23   |  ob5    |  ob22   |  ob34   |
    |         |         |         |         |         |         |         |         |         |         |
    | - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - |
    |         |         |         |         |         |         |         |         |         |         |
80% |         |  ob27   |         |  ob26   |  ob25   |         |  ob24   |         |         |         |
    |         |         |         |         |         |         |         |         |         |         |
    | - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - |
    |         |         |         |         |         |         |         |         |         |         |
90% |  coin4  |  ob2    |         |  coin5  |  ob36   |         |         |  coin9  |  ob6    |  coin6  |
    |         |         |         |         |         |         |         |         |         |         |
    * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *

*/

/*  --- THE START AREA ---  */
#startImg {
    position: absolute;  
    left: 91%;            
    top: 1%;             
    width: 8%;            
    height: 8%;  
}

/*  --- THE OBSTACLES ---  */
#ob1 {                      
    position: absolute;  
    left: 10%;            
    top: 60%;             
    width: 10%;            
    height: 10%;            
}                      
#ob2 {                    
    position: absolute;    
    left: 10%;             
    top: 90%;        
    width: 10%;              
    height: 10%;            
}                    
#ob3 {                     
    position: absolute;      
    left: 10%;            
    top: 20%;              
    width: 10%;             
    height: 10%;            
}                           
#ob4 {                    
    position: absolute;     
    left: 80%;              
    top: 0%;              
    width: 10%;             
    height: 10%;             
}                           
#ob5 {                      
    position: absolute;    
    left: 70%;             
    top: 70%;            
    width: 10%;          
    height: 10%;          
}                       
#ob6 {                    
    position: absolute;     
    left: 80%;              
    top: 90%;               
    width: 10%;              
    height: 10%;           
}                         
#ob7 {                   
    position: absolute;     
    left: 70%;           
    top: 10%;            
    width: 10%;           
    height: 10%;            
}                          
#ob8 {                     
    position: absolute;     
    left: 30%;              
    top: 10%;               
    width: 10%;             
    height: 10%;              
}                          
#ob9 {                     
    position: absolute;     
    left: 10%;               
    top: 70%;            
    width: 10%;             
    height: 10%;            
}                          
#ob10 {                   
    position: absolute;     
    left: 80%;              
    top: 10%;               
    width: 10%;          
    height: 10%;             
}                          
#ob11 {                     
    position: absolute;   
    left: 50%;            
    top: 10%;             
    width: 10%;              
    height: 10%;            
}                     
#ob12 {                    
    position: absolute;    
    left: 80%;           
    top: 50%;               
    width: 10%;           
    height: 11%;            
}                          
#ob13 {                     
    position: absolute;     
    left: 10%;             
    top: 10%;               
    width: 10%;             
    height: 10%;             
}                         
#ob14 {                    
    position: absolute;   
    left: 40%;              
    top: 30%;            
    width: 10%;           
    height: 10%;            
}                          
#ob15 {                             
    position: absolute;     
    left: 40%;              
    top: 50%;               
    width: 10%;          
    height:10%;            
}                           
#ob16 {                        
    position: absolute;     
    left: 60%;           
    top: 50%;               
    width: 10%;            
    height: 10%;           
}                         
#ob17 {                    
    position: absolute;     
    left: 60%;            
    top: 30%;              
    width: 10%;          
    height: 10%;          
}                          
#ob18 {                   
    position: absolute;     
    left: 80%;             
    top: 40%;             
    width: 10%;            
    height: 10%;          
}                           
#ob19 {                   
    position: absolute;     
    left: 80%;             
    top: 30%;              
    width: 10%;            
    height: 10%;            
}         
#ob20 {                  
    position: absolute;    
    left: 80%;              
    top: 20%;             
    width: 10%;          
    height: 10%;            
}                           
#ob21 {                    
    position: absolute;   
    left: 60%;            
    top: 10%;               
    width: 10%;          
    height: 10%;          
}                          
#ob22 {                    
    position: absolute;   
    left: 80%;            
    top: 70%;               
    width: 10%;          
    height: 10%;          
}                           
#ob23 {                    
    position: absolute;   
    left: 60%;            
    top: 70%;               
    width: 10%;          
    height: 10%;          
}   
#ob24 {                    
    position: absolute;   
    left: 60%;            
    top: 80%;               
    width: 10%;          
    height: 10%;          
}   
#ob25 {                    
    position: absolute;   
    left: 40%;            
    top: 80%;               
    width: 10%;          
    height: 10%;          
}   
#ob26 {                    
    position: absolute;   
    left: 30%;            
    top: 80%;               
    width: 10%;          
    height: 10%;          
}   
#ob27 {                    
    position: absolute;   
    left: 10%;            
    top: 80%;               
    width: 10%;          
    height: 10%;          
}   
#ob28 {                    
    position: absolute;   
    left: 20%;            
    top: 60%;               
    width: 10%;          
    height: 10%;          
}   
#ob29 {                    
    position: absolute;   
    left: 0%;            
    top: 40%;               
    width: 10%;          
    height: 10%;          
}   
#ob30 {                    
    position: absolute;   
    left: 10%;            
    top: 40%;               
    width: 10%;          
    height: 10%;          
}  
#ob31 {                    
    position: absolute;   
    left: 20%;            
    top: 40%;               
    width: 10%;          
    height: 10%;          
} 
#ob32 {                    
    position: absolute;   
    left: 0%;            
    top: 10%;               
    width: 10%;          
    height: 10%;          
} 
#ob33 {                    
    position: absolute;   
    left: 30%;            
    top: 20%;               
    width: 10%;          
    height: 10%;          
}
#ob34 {                    
    position: absolute;   
    left: 90%;            
    top: 70%;               
    width: 10%;          
    height: 10%;          
}
#ob35 {                    
    position: absolute;   
    left: 40%;            
    top: 70%;               
    width: 10%;          
    height: 10%;          
}
#ob36 {                    
    position: absolute;   
    left: 40%;            
    top: 90%;               
    width: 10%;          
    height: 10%;          
}
#ob37 {                    
    position: absolute;   
    left: 30%;            
    top: 00%;               
    width: 10%;          
    height: 10%;          
}

/*  --- THE COINS ---  */
#coin1 {                    
    position: absolute;   
    left: 0.5%;            
    top: 0.5%;               
    width: 9%;          
    height: 9%;          
}
#coin2 {                    
    position: absolute;   
    left: 70.5%;            
    top: 0.5%;               
    width: 9%;          
    height: 9%;          
}
#coin3 {                    
    position: absolute;   
    left: 0.5%;            
    top: 20.5%;               
    width: 9%;          
    height: 9%;          
}
#coin4 {                    
    position: absolute;   
    left: 0.5%;            
    top: 90.5%;               
    width: 9%;          
    height: 9%;          
}
#coin5 {                    
    position: absolute;   
    left: 30.5%;            
    top: 90.5%;               
    width: 9%;          
    height: 9%;          
}
#coin6 {                    
    position: absolute;   
    left: 90.5%;            
    top: 90.5%;               
    width: 9%;          
    height: 9%;          
}
#coin7 {                    
    position: absolute;   
    left: 90.5%;            
    top: 60.5%;               
    width: 9%;          
    height: 9%;          
}
#coin8 {                    
    position: absolute;   
    left: 50.5%;            
    top: 40.5%;               
    width: 9%;          
    height: 9%;          
}
#coin9 {                    
    position: absolute;   
    left: 70.5%;            
    top: 90.5%;               
    width: 9%;          
    height: 9%;          
}



