body {
    background-color: black; 
}

#title-image{
  text-align: center;
  margin-top:2%; 
}

/* ----- Group made up of all of the buttons on the game page ----- */ 
.btn-group{
  padding: 1% 1%; 
  cursor: pointer;
  text-align: center;
  float: center; 
}
/* Making all of the buttons size 30, red and have a white border */

.btn-group > *{
  border: 2px solid white; 
  background-color: red;
  font-size: 30px;

}

/* Making the button appear blue when they are hovered over*/
button:hover{
  background-color: blue; 
}

button:active{
  background-color: green;
}


#score-board-table{
  float: left;
  font-weight: bold;
  color: red;
  background-color: black;
  left: 30%;
  position: relative;
  align-content: center;
  overflow: hidden;
  border-spacing: 15px;
  margin-top:3%; 
  text-align: center;
 

}
/* */
#row1{
  font-size: 40px;
  font-weight:bold;
}
/* */
#row2{
  font-size: 25px;
}
/* */
#row3{
  font-size: 25px;
}
/* */
#row4{
  font-size: 25px;
}
/* */
#row5{
  font-size: 25px; 
}


#score-board-title{
  text-align: center;
  position: absolute;
  width:70%;
  height:7%;
  left: 12%; 
}


