body {
    background-color: black; 
}

#instr-img{
    text-align: center;
    margin-top: 1%;
    border: 1px yellow solid; 
}

/* --- THE BUTTONS --- */
.btn-group{
    border:2px blue solid; 
    cursor: pointer;
    text-align: center;
    float: center;
}
.btn-group > * {
    border: 2px solid white;
    background-color: red;
    font-size: 30px;
}
button:hover{
    background-color: blue; 
}
button:active {
    background-color: green;
}

#information-table{
    color: red;
    position: fixed;
    margin-top:3%; 
    margin-left: 10%;
    margin-right: 10%;
    width:80%;
    text-align: center;
    border-spacing: 15px;
    border: 2px green solid; 
}

#row1{
    border: 1px white solid; 
}
#row2{
    border: 1px white solid; 
}
#row3{
    border: 1px white solid; 
}
#row4{
    border: 1px white solid; 
}
#row5{
    border: 1px white solid; 
}
