body {
    background-color: black; 
}

#instr-img{
    text-align: center;
    margin-top: 2%;
}

/* --- THE BUTTONS --- */
.btn-group{
    padding: 1% 1%;
    cursor: pointer;
    text-align: center;
    float: center;
}
.btn-group > * {
    border: 2px solid white;
    background-color: red;
    font-size: 30px;
}
button:hover{
    background-color: blue; 
}
button:active {
    background-color: green;
}

/* --- THE INSTRUCTIONS --- */
#information {
    font-size: 30px;
    text-align: center;
    color: red;
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
}