body {
    margin: 100px;
    padding: 10px;
    background-color: black; 
    border-color: white; 
}
img{
  position: absolute;
  padding-left: 10%; 
  top:4%;
  width: 65%; 
  height: 15%; 
}

.button{

  background-color: rgb(231, 8, 8);
  position: relative;
  top: 35px; 
  padding-left: 20%;
  padding-right: 10%;
  text-align: center; 
  text-emphasis: bold;
 }

 .button:hover{
   background-color: green; 
 }
