body {
    margin: 100px;
    padding: 10px;
    background-color: black; 
    border-color: white; 
}
img{
  position: absolute;
  padding-left: 9%; 
  top:4%;
  width: 65%; 
  height: 15%; 
}

.button{

  background-color: rgb(231, 8, 8);
  position: relative;
  top: 35px; 
  padding-left: 15%;
  padding-right: 10%;
  font-weight: bold; 
  text-align: center;
 
 }

 .button:hover{
   background-color: green; 
 }

 div {
   position: relative; 
   top:25px;
   background-color:black; 
   width: 80%;
   border: 15px solid white;
   padding: 50px;
   margin: 20px;
   
 }
